* {
    margin: 0;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: aliceblue;
}

h1{
    padding: 10px;
}

.centered {
    text-align: center;
    padding: 50px;
}

.logo {
    border-radius: 200px;
    border: 1px solid;
}

.img_background {
    background-image: url("https://www.ionos.fr/digitalguide/fileadmin/DigitalGuide/Teaser/web-development-t.jpg");
    position: relative;
    min-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
}

.ptb h2{
    text-align: center;
    color: black;
    margin: auto;
}

.img-responsive{
    background-position: center;
    min-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.clients img {
    max-width: 140px;
    max-height: 60px;
    vertical-align: middle;
}

.clients .col-sm-2 {
    height: 80px;
    line-height: 80px;
    position: relative;
    margin: auto;
}
.work{
text-align: center;
}

.work h2{
    text-align: center;
    color: #282c34;
}

#g {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f5f5f5;
}

.card-project{
    padding: 5px;
}
.card-project h5{
    color: lightsteelblue;
}

.all-card{
    padding: 10px;
}

#f {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: grey;
}

.icons{
    width: 2em;
    margin: auto;
}